* {
  margin: 0;
}
section{
    padding: 80px 8%;
    row-gap: 30px;

}
.speaker-image{
border-radius: 10px;
    width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  
}
.border-card{
    border: 1px solid black;
    border-radius: 10px;
    display: grid;  
}
.nav-logo {
  font-size: 30px;
}
ul {
  display: flex;
  font-size: 30px;
  list-style: none;
  gap: 20px;
}
.button-style {
  background-color: #2563eb;
  border: none;
  font-size: 25px;
  border-radius: 5px;
}

/* banner{
    display: flex;
    align-items: center;
    padding: 20px;
}
.banner-content{
    flex: 1;
    text-align: center;
    width: 1600px;
    height: 900px; */
/* } */
header {
  background-image: url('./images/banner.jpg');

  height: 90vh;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
}
/* .font{
    background-color: aliceblue; */
/* } */
.box-content {
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
  font-size: 2rem;
}

/* .content button{
    width: 8px;
} */

/* top right part */

.head{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-top: 80px;
}
/* for speaker part */
.border-container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

 .speaker-skills-unit{
     color: #1e5de4;
 }
 .early-bird{
    display: grid;
    justify-content: center;
    font-size : 2rem;
    text-align: center;
    
 }
 .spot-part{
    display: grid;
    justify-content: center;
    font-size: 1rem;
 }

 /* three card part buttom */
 .card-cointainer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
 }
 .card-cointainer div{
    margin-top: 60px;
    /* background-color: rgba(242, 238, 238, 0.956); */
    width: 400px;
    height: 500px;
    }
/* pricing and three card information */
    .holder{
        display: grid;
        border: 1px solid rgb(42, 41, 41);
        border-radius: 10px;
        padding: 20px;
        ::marker{
            color: #2563eb;
            
        }  
     }
    
    .holder-two{
    display: grid;
    color: white;
    background-color: rgb(13, 9, 59);
     border: 1px solid rgb(42,41,41);
    border-radius: 10px;
    padding: 20px;
 }
 .holder3{
    display: grid;
    border: 1px solid rgb(42, 41,41);
    border-radius: 10px;
    padding: 20px;
 }


    .hr-{
        color: black;
        width: 100px;
        height: 1px;
    }
    /* All Button Together */
    .button-one {
  display: flex;
  justify-content: center;
  width: 15%;
  margin-left: 40%;
  margin-top: 20%;
  background-color: #2563eb;
  border: none;
  font-size: 35px;
  border-radius: 5px;
}
    .button-two{
    
        color: #1e5de4;
        border-radius: 10px;
        border-width: none;
    
        
    }
    .button-three{
        color: white;
        background-color: blue;
        border-radius: 10px;
    }
    .button-four{
        color: black;
        border-color: black;
        border-radius: 10px;
    }
 
  /* ai part */

 .missing-section{
    color: blue;
    background-color: #b7b7c3;
    display: grid;
    justify-content: center;
    width: 95%;
    height: 600px;
    margin: 60px auto;
    border: 3px dashed #8b5cf6;
    border-radius: 20px;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px 0px 0px;
    

 }

 /* In ai part  */

 .ai-part h1{
          font-size: 4rem;
 }
 .ai-part  p{
    font-size: 3rem;
    font-weight: 600px;
 }
 .footer{
    display: grid;
    justify-content: space-between left and right;
    align-items: center;
    padding: 20px 80px;
 }
 .social-mediax{
    display: flex;
    flex-direction: column;

 }
 .facebook-f{
    display: flex;
    justify-content: space-between;
 }