* {
  margin: 0;
}
section{
    padding: 80px 8%;
    row-gap: 30px;

}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
.logo {
  font-size: 40px;
}
ul {
  display: flex;
  font-size: 2rem;
  list-style: none;
  gap: 20px;
}
.btn {
  background-color: #2563eb;
  border: none;
  font-size: 30px;
  border-radius: 5px;
}
/* banner{
    display: flex;
    align-items: center;
    padding: 20px;
}
.banner-content{
    flex: 1;
    text-align: center;
    width: 1600px;
    height: 900px; */
/* } */
header {
  background-image: url('./images/banner.jpg');
  height: 90vh;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
}
/* .font{
    background-color: aliceblue; */
/* } */
.content {
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
  font-size: 2rem;
}

/* .content button{
    width: 8px;
} */
.btn2 {
  display: flex;
  justify-content: center;
  width: 15%;
  margin-left: 40%;
  margin-top: 20%;
  background-color: #2563eb;
  border: none;
  font-size: 35px;
  border-radius: 5px;
}
.head{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-top: 80px;
}
.our-file{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* .our-file img h2,h3,h4{

    border: 2px solid black;
} */
 .profession{
     color: #1e5de4;
 }
 